1)using normal way (arrays wala nahi hain simple hain cause not showing what questions went wrong)

#include <iostream>
using namespace std;
int main()
{
    int playquiz(void);// note:function prototyping is used to when functions are made below the main function so u basically declare the fucntion first
    int finalresult=0;
    finalresult= playquiz();
    if(finalresult>=1){
        cout<<"yes u are pass";
    }
    else{
        cout<<"u are failed";
    }
    
    return 0;
}
int playquiz(){
    cout<<"--------welcome to quiz game------\n";
    cout<<"pls follow instruction\n1)every right question has one mark 2)wrong answer -1\n total there are 3 questions\n";
    cout<<"pls press s/S to start the game\n";
    int score=0;
    char c;
    cin>>c;
    if(c=='S'||c=='s'){
        cout<<"1)how many coulours are there in rainbow?\na)7 b)4 c)9 d)2\n";
        char option;
        cin>>option;
        if(option=='b' ||option=='c' || option=='d'){
            score=score-1;
        }
        else{
            score+=1;
        }
         cout<<"1)how many NOSE are there in human?\na)7 b)1 c)9 d)2\n";
        
        cin>>option;
        if(option=='c' ||option=='a' || option=='d'){
            score=score-1;
        }
        else{
            score+=1;
        }
         cout<<"1)how many sabhas there in india?\na)4 b)4 c)9 d)2\n";
        
        cin>>option;
        if(option=='a' ||option=='c' || option=='b'){
            score=score-1;
        }
        else{
            score+=1;
        }
        
    }
    else{
        cout<<"oops u have entered wrong character pls enter s/S";
    }
    return score;
    
}
2) using arrays to show no of questions wrong and using void playquiz() instead of int playquiz()[using refrences ]

#include <iostream>
#include<vector>
using namespace std;
int main()
{
    vector<int> wronganswers;
    int right=0;
    int wrong=0;
    int score=0;
   
    
    void playquiz(int &score,vector<int> &wronganswers,int &right,int &wrong);// note:function prototyping is used to when functions are made below the main function so u basically declare the fucntion first
    playquiz(score,wronganswers,right,wrong);
   
    if(score>=1){
        cout<<"yes u are pass"<<endl;
    }
    else{
        cout<<"u are failed"<<endl;
    }
    if(wrong>0){
        cout<<"here are question u answerd wrong\n";
        for(int q:wronganswers){
            cout<<q<<" ";
        }
    }
    cout<<"\nthe number of wrong answers "<<wrong<<endl;
    cout<<"\nno.of right answers"<<right<<endl;
    
    return 0;
}
void playquiz(int &score,vector<int> &wronganswers,int &right,int &wrong){
    cout<<"--------welcome to quiz game------\n";
    cout<<"pls follow instruction\n1)every right question has one mark 2)wrong answer -1\n total there are 3 questions\n";
    cout<<"pls press s/S to start the game\n";
    
    char c;
    cin>>c;
    if(c=='S'||c=='s'){
        cout<<"1)how many coulours are there in rainbow?\na)7 b)4 c)9 d)2\n";
        char option;
        cin>>option;
        if(option=='b' ||option=='c' || option=='d'){
            score=score-1;
            wronganswers.push_back(1);
           
            wrong+=1;
        }
        else{
            score+=1;
            right+=1;
        }
         cout<<"1)how many NOSE are there in human?\na)7 b)1 c)9 d)2\n";
        
        cin>>option;
        if(option=='c' ||option=='a' || option=='d'){
            score=score-1;
            wronganswers.push_back(2);
           
            wrong+=1;
        }
        else{
            score+=1;
            right+=1;
        }
         cout<<"1)how many sabhas there in india?\na)4 b)4 c)9 d)2\n";
        
        cin>>option;
        if(option=='a' ||option=='c' || option=='b'){
            score=score-1;
            wronganswers.push_back(3);
            wrong+=1;
        }
        else{
            score+=1;
            right+=1;
        }
        
    }
    else{
        cout<<"oops u have entered wrong character pls enter s/S";
    }
  
    
}
3) same as above but using diffrent variables in references

#include <iostream>
#include<vector>
using namespace std;
int main()
{
    vector<int> wronganswers;
    int right=0;
    int wrong=0;
    int score=0;
   
    
    void playquiz(int &score,vector<int> &wronganswers,int &right,int &wrong);// note:function prototyping is used to when functions are made below the main function so u basically declare the fucntion first
    playquiz(score,wronganswers,right,wrong);
   
    if(score>=1){
        cout<<"yes u are pass"<<endl;
    }
    else{
        cout<<"u are failed"<<endl;
    }
    if(wrong>0){
        cout<<"here are question u answerd wrong\n";//another way for this loop  for(int i;i<wronganswers.size();i++){
                                                                                    cout<<wronganswers[i]<<endl;
                                                                                                        } note instead of int in this loop use size_t as its more prefereable and avoids negative value though both will work
        for(int q:wronganswers){
            cout<<q<<" ";
        }
    }
    cout<<"\nthe number of wrong answers "<<wrong<<endl;
    cout<<"\nno.of right answers"<<right<<endl;
    
    return 0;
}
void playquiz(int &marks,vector<int> &wronganswers,int &right,int &wrong){
    cout<<"--------welcome to quiz game------\n";
    cout<<"pls follow instruction\n1)every right question has one mark 2)wrong answer -1\n total there are 3 questions\n";
    cout<<"pls press s/S to start the game\n";
    
    char c;
    cin>>c;
    if(c=='S'||c=='s'){
        cout<<"1)how many coulours are there in rainbow?\na)7 b)4 c)9 d)2\n";
        char option;
        cin>>option;
        if(option=='b' ||option=='c' || option=='d'){
            marks=marks-1;
            wronganswers.push_back(1);
           
            wrong+=1;
        }
        else{
            marks+=1;
            right+=1;
        }
         cout<<"1)how many NOSE are there in human?\na)7 b)1 c)9 d)2\n";
        
        cin>>option;
        if(option=='c' ||option=='a' || option=='d'){
            marks=marks-1;
            wronganswers.push_back(2);
           
            wrong+=1;
        }
        else{
            marks+=1;
            right+=1;
        }
         cout<<"1)how many sabhas there in india?\na)4 b)4 c)9 d)2\n";
        
        cin>>option;
        if(option=='a' ||option=='c' || option=='b'){
            marks=marks-1;
            wronganswers.push_back(3);
            wrong+=1;
        }
        else{
            marks+=1;
            right+=1;
        }
        
    }
    else{
        cout<<"oops u have entered wrong character pls enter s/S";
    }
  
    
}
4) using arrays and dont refrence array variables reson given in my code notebook
#include <iostream>
using namespace std;

// Function prototype
void playquiz(int &score, int wronganswers[], int &right, int &wrong);

int main()
{
    int wronganswers[3]; // Array to store the indices of wrong answers
    int right = 0;
    int wrong = 0;
    int score = 0;
    
    playquiz(score, wronganswers, right, wrong);

    // Output final results
    if(score >= 1) {
        cout << "Yes, you passed!" << endl;
    } else {
        cout << "You failed." << endl;
    }

    if(wrong > 0) {
        cout << "Here are the questions you answered wrong:\n";
        for(int i = 0; i < wrong; ++i) {
            cout << "Question " << wronganswers[i] << " ";
        }
        cout << endl;
    }

    cout << "The number of wrong answers: " << wrong << endl;
    cout << "The number of right answers: " << right << endl;
    
    return 0;
}

void playquiz(int &score, int wronganswers[], int &right, int &wrong)
{
    cout << "-------- Welcome to the Quiz Game ------\n";
    cout << "Please follow the instructions:\n";
    cout << "1) Each right answer gets 1 mark.\n";
    cout << "2) Each wrong answer results in -1 mark.\n";
    cout << "There are 3 questions in total.\n";
    cout << "Please press 's' or 'S' to start the game.\n";
    
    char c;
    cin >> c;
    
    if(c == 'S' || c == 's') {
        cout << "1) How many colors are there in a rainbow?\n";
        cout << "a) 7 b) 4 c) 9 d) 2\n";
        char option;
        cin >> option;
        if(option == 'b' || option == 'c' || option == 'd') {
            score -= 1;
            wronganswers[wrong++] = 1; // Store the question number
        } else {
            score += 1;
            right += 1;
        }

        cout << "2) How many noses are there in a human?\n";
        cout << "a) 7 b) 1 c) 9 d) 2\n";
        cin >> option;
        if(option == 'a' || option == 'c' || option == 'd') {
            score -= 1;
            wronganswers[wrong++] = 2;
        } else {
            score += 1;
            right += 1;
        }

        cout << "3) How many sabhas are there in India?\n";
        cout << "a) 4 b) 5 c) 9 d) 2\n";
        cin >> option;
        if(option == 'a' || option == 'c' || option == 'b') {
            score -= 1;
            wronganswers[wrong++] = 3;
        } else {
            score += 1;
            right += 1;
        }

    } else {
        cout << "Oops, you have entered a wrong character. Please enter 's' or 'S'." << endl;
    }
}

